body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #007BFF;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #007BFF;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
}



.menu {
    font-size: 10px; /* حجم الخط للقائمة بشكل عام */
}

.menu a {
    font-size: 10px; /* حجم الخط لعناصر القائمة */
    padding: 5px; /* إضافة بعض الحشوة لعناصر القائمة */
}

.burger {
    font-size: 10px; /* حجم زر البرجر */
}

